﻿@model Inventory.Web.Models.ClientViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Client</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" value="@(ViewBag.Name)" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label">Last Name</label>
                <input asp-for="LastName" class="form-control" value="@(ViewBag.LastName)" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            @using Syncfusion.EJ2
            <div class="form-group">
                <label asp-for="ZipCodeId" class="control-label">Zip Code</label>
                <input asp-for="ZipCode" class="form-control" onchange="javascript:getCities(this.value)" />
                @*<ejs-maskedtextbox name="ZipCode" class="form-control" id="mask1" mask="0000-000" onchange="javascript:getCities(this.value)"></ejs-maskedtextbox>*@
                <span asp-validation-for="ZipCode" class="text-danger"></span>


            </div>

            <div class="form-group" id="idOutroPais">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control getLocalidade" id="getAnotherCity" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TIN" class="control-label"></label>
                <input asp-for="TIN" class="form-control" />
                <span asp-validation-for="TIN" class="text-danger"></span>
            </div>

            @{
                var Email = User.Identity.Name;
            }
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="@Email" class="form-control" readonly />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact" class="control-label"></label>
                <input asp-for="Contact" class="form-control" />
                <span asp-validation-for="Contact" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubscriptionTypeId" class="control-label">Subscription Type</label>
                <select asp-for="SubscriptionTypeId" class="form-control" asp-items="ViewBag.SubscriptionTypeId"></select>
            </div>

            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile" class="form-control" type="file" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

@*<div>
        <a asp-action="Index">Back to List</a>
    </div>*@
@*<script type='text/javascript' src='http://code.jquery.com/jquery-1.11.0.js'></script>
<script type='text/javascript' src="https://rawgit.com/RobinHerbots/jquery.inputmask/3.x/dist/jquery.inputmask.bundle.js"></script>
<script type='text/javascript'>
    $(document).ready(function () {
        $("#zipcode").inputmask("9999-999");

    });
</script>*@

<script type="text/javascript">

    window.onload = function () {

        $("#idOutroPais").hide();

    }

    function getCities(Code) {
        $.ajax({
            type: 'POST',
            url: "/Clients/GetData",
            cache: false,
            data: { Code },
            success: function (data) {
                $('#getAnotherCity').val(data);

                $("#idOutroPais").show();



            },
            error: function () {
                var ErrorMessage = "please fill with your street name";
                $(".getLocalidade").html(ErrorMessage).show();
                $("#idOutroPais").show();
            }
        });

    }





</script>

