﻿@model Inventory.Web.Data.Entities.Client

@{
    ViewData["Title"] = "Details";
}

<h2></h2>






<style>

   

    .tableIndex, .btn-circle, .btn-circle-3d {
        border-radius: 50% !important;
    }

    .tableIndex, .btn-primary.btn-circle {
        -webkit-box-shadow: 0px 0px 3px 1px #245580;
        -moz-box-shadow: 0px 0px 3px 1px #245580;
        box-shadow: 0px 0px 3px 1px #245580;
    }

    #buttonAlign {
        order: 1;
        box-shadow: inset 0px 8px 48px #0000FF;
    }



   

    a:hover {
        text-decoration: none;
        color: #555;
    }
</style>

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">






@using Syncfusion.EJ2


<div class="control-section card-control-section reveal_card_layout">
    <div class="e-card-resize-container">
      

          
            <div class="col-xs-12 col-sm-12 col-lg-6 col-md-6">
                <!-- Reveal Card Layout  -->


                <div class="e-card" style="text-align:center;margin-top:2em">
                    @*<img class="img-responsive" src="@Url.Content(Model.ImageUrl)" style="height:195px;width:350px" />*@
                    <div id="card_revealed" style="min-height:177px">
                        <div class="e-card-content" style="line-height:2.75em">
                            <table style="width: 100%;table-layout: fixed;">
                                <tr>
                                    <td>
                                        <div style="text-align: left;font-weight: 500;"> Name </div>
                                    </td>
                                    <td>
                                        <div style="text-align: left;width: 80px;white-space:nowrap">@Model.Name @Model.LastName</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div style="text-align: left;font-weight: 500;">Address</div>
                                    </td>
                                    <td>
                                        <div style="text-align: left;white-space:nowrap">@Model.Address</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div style="text-align: left;font-weight: 500;">City</div>
                                    </td>
                                    <td>
                                        <div style="text-align: left;">@Model.ZipCode.City</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div style="text-align: left;font-weight: 500;">TIN</div>
                                    </td>
                                    <td>
                                        <div style="text-align: left;">@Model.TIN</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div style="text-align: left;font-weight: 500;">State</div>
                                    </td>
                                    <td>
                                        <div style="text-align: left;">@Model.State.Name</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div style="text-align: left;font-weight: 500;">Email</div>
                                    </td>
                                    <td>
                                        <div style="text-align: left;">@Model.Email</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div style="text-align: left;font-weight: 500;">Contact</div>
                                    </td>
                                    <td>
                                        <div style="text-align: left;">@Model.Contact</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div style="text-align: left;font-weight: 500;">Subscription Type</div>
                                    </td>
                                    <td>
                                        <div style="text-align: left;">@Model.SubscriptionType.Name</div>
                                    </td>
                                </tr>
                                @if (User.IsInRole("InventoryAdmin"))
                                {
                                    <tr>

                                        <td>
                                            <div class="e-card-actions">

                                                <a id="showcarddata" class="e-btn e-outline e-primary" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>



                                            </div>
                                        </td>
                                    </tr>
                                }
                                else
                                {
                                    <tr>

                                        <td>
                                            <div class="e-card-actions">

                                                <a id="showcarddata" class="e-btn e-outline e-primary" asp-action="IndexAdmin">Back to list</a>



                                            </div>
                                        </td>
                                    </tr>
                                }
                            </table>
                        </div>
                    </div>
                   
                </div>


            </div>

    </div>

</div>

<div class="control-section card-control-section reveal_card_layout">
    <div class="e-card-resize-container">



        <div class="col-xs-12 col-sm-12 col-lg-6 col-md-6">
            <!-- Reveal Card Layout  -->


            <div class="e-card" style="text-align:center;margin-top:2em;background-image:url(@Url.Content(Model.ImageUrl)); background-size: cover;
    background-repeat: no-repeat;
    background-position: center; width: 300px;
    height: 300px;">
              
              
                    @*<img class="img-responsive" src="@Url.Content(Model.ImageUrl)" style="background-image:url(@Url.Content(Model.ImageUrl)); background-size: cover;
    background-repeat: no-repeat;
    background-position: center; width: 300px;
    height: 300px;" />*@
              

            </div>


        </div>

    </div>

</div>

