﻿@model Inventory.Web.Models.ClientViewModel
@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Client</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" readonly="readonly"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label">Last Name</label>
                <input asp-for="LastName" class="form-control" readonly="readonly"/>
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ZipCodeId" class="control-label">Zip Code</label>
                <select asp-for="ZipCodeId" class="form-control" asp-items="ViewBag.ZipCodeId"  disabled="disabled"></select>
                <span asp-validation-for="ZipCodeId" class="text-danger"></span>
            </div>
            <div class="form-group" id="idOutroPais">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control getLocalidade" id="getAnotherCity" readonly="readonly"/>
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TIN" class="control-label"></label>
                <input asp-for="TIN" class="form-control" />
                <span asp-validation-for="TIN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StateId" class="control-label">State</label>
                <select asp-for="StateId" class="form-control" asp-items="ViewBag.StateId" readonly="readonly"></select>
                <span asp-validation-for="StateId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" readonly="readonly" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact" class="control-label"></label>
                <input asp-for="Contact" class="form-control" />
                <span asp-validation-for="Contact" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubscriptionTypeId" class="control-label">Subscription Type</label>
                <select asp-for="SubscriptionTypeId" class="form-control" asp-items="ViewBag.SubscriptionTypeId" readonly="readonly"></select>
                <span asp-validation-for="SubscriptionTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile" class="form-control" type="file" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
    <div class="col-md-4">
        @if (!string.IsNullOrEmpty(Model.ImageUrl))
        {
            <img src="@Url.Content(Model.ImageUrl)" alt="Image" style="width:300px;height:450px;max-width:100%;height:auto" />
        }

    </div>
</div>

<div>
    <a asp-action="Details">Back to Profile</a>
</div>

<script type="text/javascript">

    //window.onload = function () {

    //    $("#idOutroPais").hide();

    //}

      function getCities(Code) {
        $.ajax({
            type: 'POST',
            url: "/Clients/GetData",
            cache: false,
            data: { Code },
            success: function (data) {
                $('#getAnotherCity').val(data);

                  $("#idOutroPais").show();



            },
            error: function () {
                var ErrorMessage = "please fill with your street name";
                $(".getLocalidade").html(ErrorMessage).show();
                $("#idOutroPais").show();
            }
            });

    }





</script>

