﻿@model Inventory.Web.Models.ChangeStateViewModel
@{
    ViewData["Title"] = "Edit";
}

<h2>Change State</h2>

<h4>Current State: @ViewBag.state</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditState">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" value="@(ViewBag.username)" readonly="readonly"/>
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StateId" class="control-label">State</label>
                <select asp-for="StateId" class="form-control" asp-items="ViewBag.StateId"></select>
                <span asp-validation-for="StateId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
        </div>
</div>
    <div>
        <a asp-action="IndexAdmin">Back to List</a>
    </div>




