﻿@model IEnumerable<Inventory.Web.Data.Entities.InventoryArticle>

@*@{
    List<object> commands = new List<object>();
        commands.Add(new { buttonOption = new { iconCss = "e-icons e-edit", cssClass = "e-flat e-details" } });
    //commands.Add(new { type = "Edit", buttonOption = new { iconCss = "e-icons e-edit", cssClass = "e-flat", click: "onClick" } });
    //commands.Add(new { type = "Delete", buttonOption = new { iconCss = "e-icons e-delete", cssClass = "e-flat" } });
    //commands.Add(new { type = "Save", buttonOption = new { iconCss = "e-icons e-update", cssClass = "e-flat" } });
    //commands.Add(new { type = "Cancel", buttonOption = new { iconCss = "e-icons e-cancel-icon", cssClass = "e-flat" } });
}*@

@*@{
        List<object> commands = new List<object>();
        commands.Add(new { type = "userstatus", buttonOption = new { content = "Details", cssClass = "e-flat e-details" } }); // custom
    }*@


<p>
    <a asp-action="Create" asp-controller="Articles" asp-route-id="@ViewBag.id">Create New</a>
</p>

@using Syncfusion.EJ2

<div class="control-section" align='center'>
    <ejs-accumulationchart id="container" title="@ViewBag.Name">
        <e-accumulationchart-legendsettings visible="true" position="Top">
        </e-accumulationchart-legendsettings>
        <e-accumulationchart-tooltipsettings enable="true"></e-accumulationchart-tooltipsettings>
        <e-accumulation-series-collection>
            <e-accumulation-series dataSource="ViewBag.dataSource" xName="xValue" yName="yValue" radius="70%" innerRadius="40%" name="Project" explode=true explodeOffset="10%" explodeIndex=3>
                <e-accumulationseries-datalabel visible="true" name="text">
                    <e-font fontWeight="600" color="white"></e-font>
                </e-accumulationseries-datalabel>
            </e-accumulation-series>
        </e-accumulation-series-collection>
    </ejs-accumulationchart>
</div>

<div class="control-section">

    <ejs-treegrid id="TreeGrid" dataSource="ViewBag.dataSourceData" idMapping="id" parentIdMapping="pid" toolbarClick="toolbarClick" allowExcelExport="true" allowPdfExport="true" toolbar="@(new List<string>() { "ExcelExport", "CsvExport", "PdfExport"})" height="380" childMapping="child" treeColumnIndex="1" rowSelected="selected">
        <e-treegrid-columns>
            <e-treegrid-column field="idI" headerText="Category" textAlign="Left" width="95" visible="false"></e-treegrid-column>
            <e-treegrid-column field="category" headerText="Category" textAlign="Left" width="95"></e-treegrid-column>
            <e-treegrid-column field="name" headerText="Name" textAlign="Left" width="95"></e-treegrid-column>

            <e-treegrid-column field="quantity" headerText="Quantity" textAlign="Left" width="95"></e-treegrid-column>



            <e-treegrid-column field="unit" headerText="Unit" textAlign="Left" width="95"></e-treegrid-column>

            <e-treegrid-column field="address" headerText="Address" textAlign="Left" width="95"></e-treegrid-column>





        </e-treegrid-columns>

    </ejs-treegrid>

</div>




<script>
    function toolbarClick(args) {
        var treeGridObj = document.getElementById("TreeGrid").ej2_instances[0];
        if (args.item.text === 'Excel Export') {
            treeGridObj.excelExport();
        } else if (args.item.text === 'PDF Export') {
            treeGridObj.pdfExport();
        } else if (args.item.text === 'CSV Export') {
            treeGridObj.csvExport();
        }
    }
</script>



<script>

        function selected(args) { 

            if (args.data.idI !== undefined) {

                window.location.href = '/Articles/Details/' + args.data.idI + '?idI=' + @ViewBag.id;
                //alert(args.data.id);  
            }
        
 
    } 

    //    window.addEventListener('click', function (e) {

    //        let rows = document.getElementsByClassName('e-altrow');

    //    if (e.target == "Inventories") {
    //        let headertext = document.getElementsByClassName('e-headertext');
    //        window.location.href = '/AInventories/IndexAdmin/?username=' + headertext[0].innerHTML;
    //        }

    //
    //     }
    //});
</script>



@*<td>
    <a asp-action="Edit" asp-controller="Articles" asp-route-id="@item.Article.Id" asp-route-idI="@ViewBag.id">Edit</a> |
    <a asp-action="Details" asp-controller="Articles" asp-route-id="@item.Article.Id">Details</a> |
    <a asp-action="Delete" asp-controller="Articles" asp-route-id="@item.Article.Id" asp-route-idI="@ViewBag.id">Delete</a>
</td>*@
