﻿
@{
    ViewData["Title"] = "Awaiting Email Confirmation";
}

<h2>Awaiting Email Confirmation</h2>

<div>
    <p>
        Thank you for registering your email. Our team will verify it and confirm in the meantime by e-mail.
    </p>
</div>

<a asp-action="Index" asp-controller="Home" class="btn btn-primary">Go back to Home</a>

