﻿
@{
    ViewData["Title"] = "AwaitPasswordChangeConfirmation";
}

<h2>Await Password Change Confirmation</h2>

<div>
    <p>
        You will receive an e-mail with the link for the password reset.
    </p>
</div>

<a asp-action="Index" class="btn btn-primary">Go back to Home</a>

