﻿@model Inventory.Web.Models.ArticlesViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Article</h4>
<hr />


<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label">Category</label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
            </div>
            <div class="form-group">

                <label asp-for="Code" class="control-label"></label>
                <input asp-for="Code" class="form-control" value="@ViewBag.Code" />
                <span asp-validation-for="Code" class="text-danger"></span>

            </div>
            @*<div class="form-group">
        <label asp-for="BarCode" class="control-label"></label>
        <input asp-for="BarCode" class="form-control getLocalidade" id="getAnotherCity" />
        <span asp-validation-for="BarCode" class="text-danger"></span>*@
            @*@if (ViewBag.Code != null)
        {*@
            @*<div class="form-group" id="idPais">
        <label asp-for="BarCode" class="control-label"></label>

        <qrcode content="@ViewBag.Code" name="BarCode"  width="200" height="200"></qrcode>
        <span asp-validation-for="BarCode" class="text-danger"></span>
        </div>*@

            @*//}*@


            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ZipCodeId" class="control-label">Zip Code</label>
                <input asp-for="ZipCode" class="form-control" onchange="javascript:getCities(this.value)" />
                <span asp-validation-for="ZipCode" class="text-danger"></span>

            </div>
            <div class="form-group" id="idOutroPais">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control getLocalidade" id="getAnotherCity" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile" class="form-control" type="file" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Quantity</label>
                <input class="form-control" type="number" name="Quantity" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />


            </div>

        </form>
    </div>



</div>

<div>
    <a asp-action="Index" asp-controller="InventoryArticles" asp-route-id="@ViewBag.id">Back to List</a>
</div>

@*<div class="modal fade" id="myModal" role="dialog" >
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <p class="modal-title">Article succesfully created</p>
            </div>
            <div class="modal-body">
               
                    <img src="~/images/Ok.png" height="80" width="80" style="margin:30px;" />
                

            </div>
            <div class="modal-footer">
                <button type="button"  class="btn btn-success" data-dismiss="modal" onclick="GoTo()">OK</button>
            </div>
        </div>
    </div>
</div>*@



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}



@*<script>

    $('#myForm').on('submit', function(e){
  $('#myModal').modal('show');
  e.preventDefault();
    });


    function GoTo() {
        window.location.href = "/InventoryArticles/Index/7";
    };
</script>*@


<script type="text/javascript">

    window.onload = function () {

        $("#idOutroPais").hide();

    }

    function getCities(Code) {
        $.ajax({
            type: 'POST',
            url: "/Clients/GetData",
            cache: false,
            data: { Code },
            success: function (data) {
                $('#getAnotherCity').val(data);

                $("#idOutroPais").show();



            },
            error: function () {
                var ErrorMessage = "please fill with your street name";
                $(".getLocalidade").html(ErrorMessage).show();
                $("#idOutroPais").show();
            }
        });

    }





</script>


