﻿@model Inventory.Web.Data.Entities.Article

@{
    ViewData["Title"] = "Delete";
}

<h2>Article</h2>

<h3>Are you sure you want to delete this?</h3>
<div class="col-md-6">
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BarCode)
        </dt>
        <dd>

            @if (Model.BarCode != null)
            {
                <img src="data:image;base64,@System.Convert.ToBase64String(Model.BarCode)" width="120" height="120" />
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ZipCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ZipCode.City)
        </dd>

    </dl>


    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <div>
            <a asp-action="Details" asp-controller="Articles" asp-route-id="@ViewBag.id" asp-route-idI="@ViewBag.idI">Back to List</a>

        </div>
    </form>

</div>
<div class="col-md-6">
 
  
    @if (!string.IsNullOrEmpty(Model.ImageUrl))
    {
        <img src="@Url.Content(Model.ImageUrl)" alt="Image" style="width:200px;height:350px;max-width:100%;height:auto" />
    }
</div>
