﻿@model Inventory.Web.Data.Entities.Article



<h2>Details</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
       
  
  
    </dl>
</div>
<table class="table">
    <thead>
        <tr class="hidden-print">
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
         
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th>
               Locations
            </th>
        </tr>
    </thead>
    <tbody>
      
        <tr>
            <td class="hidden-print">
                @Html.DisplayFor(modelItem => Model.Name)
            </td>
            <td class="hidden-print">
                @Html.DisplayFor(model => model.Category.Name)
            </td>

            <td id="printdivcontent">

                @if (!string.IsNullOrEmpty(Model.ImageUrl))
                {
                    <img  src="@Url.Content(Model.ImageUrl)" alt="Image" style="width:150px;height:225px;max-width:100%;height:auto" />
                }

                @if (Model.BarCode != null)
                {
                    <img  src="data:image;base64,@System.Convert.ToBase64String(Model.BarCode)" width="120" height="120" />
                }
            </td>
            <td class="hidden-print">
                @Html.DisplayFor(model => model.ZipCode.Name),
                @Html.DisplayFor(model => model.ZipCode.City)
                @if (Model.ZipCode.latitude != "0")
                {
                    <img src="@Url.Content($"https://maps.googleapis.com/maps/api/staticmap?center={Model.ZipCode.latitude},{Model.ZipCode.longitude}&zoom=16&size=600x300&maptype=roadmap&markers=color:blue%7C{Model.ZipCode.latitude},{Model.ZipCode.longitude}&key=AIzaSyBpEaGobPxWI7oFrSH1KxVzCp9uzgkwIps")" />
                }
                else
                {


                    <img src="~/images/mapNotAvailable.jpg" style="width:600px;height:300px;" />
                }

            </td>
            <td>


                <div class="dropdown hidden-print">
                    <button class="btn btn-info dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
                        Actions
                        @*<span class="caret"></span>*@
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                        <li role="presentation"><a asp-action="Edit" asp-route-id="@Model.Id" asp-route-idI="@ViewBag.IdI" role="menuitem" tabindex="-1">Edit</a> </li>

                        <li role="presentation"><a asp-action="Delete" asp-route-id="@Model.Id" asp-route-idI="@ViewBag.IdI" role="menuitem" tabindex="-1">Delete</a></li>

                    </ul>
                </div>


            </td>
            <td>
                <div class="hidden-print">
                    <button id="btn" class="btn btn-info hidden-print" onclick="PrintDiv();"> Print <span class="glyphicon glyphicon-print"></span></button>

                </div>

            </td>
        </tr>
       
    </tbody>
</table>

<div>
   
    <a asp-action="Index" asp-controller="InventoryArticles" asp-route-id="@ViewBag.IdI">Back to List</a>
</div>

<script type="text/javascript">
    function PrintDiv() {
        var divContents = document.getElementById("printdivcontent").innerHTML;
        var printWindow = window.open('', '', 'height=1000,width=1000');
        printWindow.document.write('<html><head><title>Print</title>');
        printWindow.document.write('</head><body >');
        printWindow.document.write(divContents);
        printWindow.document.write(divContents);
        printWindow.document.write(divContents);
        printWindow.document.write(divContents);
        printWindow.document.write(divContents);
         printWindow.document.write(divContents);


        printWindow.document.write('</body></html>');
        printWindow.document.close();
        printWindow.print();
    }
</script>