﻿@model Inventory.Web.Models.ArticlesViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Article</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="ImageUrl" />
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label">Category</label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId" readonly="readonly" disabled="disabled"></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Code" class="control-label"></label>
                <input asp-for="Code" class="form-control" readonly="readonly" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="BarCode" class="control-label"></label>
                <input asp-for="BarCode" class="form-control" />
                <span asp-validation-for="BarCode" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ZipCodeId" class="control-label">Zip Code</label>
                <select asp-for="ZipCodeId" class="form-control" asp-items="ViewBag.ZipCodeId" disabled="disabled" ></select>
                <span asp-validation-for="ZipCodeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile" class="form-control" type="file" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Quantity</label>
                <input class="form-control" type="number" name="Quantity" value="@ViewBag.Quant" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" asp-route-idI="@ViewBag.idI" />
            </div>
        </form>
    </div>
        @if (!string.IsNullOrEmpty(Model.ImageUrl))
        {
            <img src="@Url.Content(Model.ImageUrl)" alt="noimage" style="width:150px;height:150px;max-width:100%;" />
        }
</div>

<div>
    <a asp-action="Details" asp-controller="Articles" asp-route-id="@ViewBag.id" asp-route-idI="@ViewBag.idI">Back to List</a>
 
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
