﻿@model IEnumerable<Inventory.Web.Data.Entities.Article>

@{
    ViewData["Title"] = "Index";
}

<h2 class="hidden-print">Index</h2>



<p class="hidden-print">
    <a class="hidden-print" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead class="hidden-print">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BarCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZipCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="hidden-print">
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Code)
                </td>

                <td id="printdivcontent">
                    @if (item.BarCode != null)
                    {
                        <img src="data:image;base64,@System.Convert.ToBase64String(item.BarCode)" width="120" height="120" />
                    }

                </td>
                <td class="hidden-print">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="hidden-print">

                    @Html.DisplayFor(modelItem => item.ZipCode.Name),
                    @Html.DisplayFor(modelItem => item.ZipCode.City)
                    @if (item.ZipCode != null)
                    {
                        <img src="@Url.Content($"https://maps.googleapis.com/maps/api/staticmap?center={item.ZipCode.latitude},{item.ZipCode.longitude}&zoom=16&size=600x300&maptype=roadmap&markers=color:blue%7C{item.ZipCode.latitude},{item.ZipCode.longitude}&key=AIzaSyBpEaGobPxWI7oFrSH1KxVzCp9uzgkwIps")" />
                    }
                </td>
                <td class="hidden-print">
                    <div class="dropdown">
                        <button class="btn btn-info dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
                            Actions
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                            <li  role="presentation"><a asp-action="Edit" asp-route-id="@item.Id" role="menuitem" tabindex="-1">Edit</a> </li>
                            <li role="presentation"><a asp-action="Details" asp-route-id="@item.Id" role="menuitem" tabindex="-1">Details</a></li>
                            <li role="presentation"><a asp-action="Delete" asp-route-id="@item.Id" role="menuitem" tabindex="-1">Delete</a></li>
                          
                        </ul>
                    </div>
                 
                </td>
                <td>
                    <div class="hidden-print">
                        <button id="btn" class="btn btn-info hidden-print" onclick="PrintDiv();"> Print <span class="glyphicon glyphicon-print"></span></button>

                    </div>
                    
                </td>
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript">
    function PrintDiv() {
        var divContents = document.getElementById("printdivcontent").innerHTML;
        var printWindow = window.open('', '', 'height=1000,width=1000');
        printWindow.document.write('<html><head><title>Print</title>');
        printWindow.document.write('</head><body >');
        printWindow.document.write(divContents);
     

        printWindow.document.write('</body></html>');
        printWindow.document.close();
        printWindow.print();
    }
</script>

