﻿@model Inventory.Web.Data.Entities.AInventory

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>


@{Html.BeginForm("CreateDocument", "AInventories", FormMethod.Get);
    {
        <div>
            <h4>AInventory</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Client)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Client.Name)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Date)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Date)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.State)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.State.Name)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.InventoryType)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.InventoryType.Name)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dd>

                    @if (!string.IsNullOrEmpty(Model.ImageUrl))
                    {
                        <img src="@Url.Content(Model.ImageUrl)" alt="Image" style="width:300px;height:450px;max-width:100%;height:auto" />
                    }


                </dd>
              
                <dd>
                    <div>
                       
                        <a class="btn btn-success" asp-action="CreateDocument" asp-route-id="@Model.Id">Create Excel Document</a>
                    </div>
                </dd>
            </dl>
        </div>
    }
    Html.EndForm();
}
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
