﻿@model IEnumerable<Inventory.Web.Data.Entities.AInventory>





<h2></h2>
<br />





<style>

    /*.tabela {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }*/

    .tableIndex, .btn-circle, .btn-circle-3d {
        border-radius: 50% !important;
    }

    .tableIndex, .btn-primary.btn-circle {
        -webkit-box-shadow: 0px 0px 3px 1px #245580;
        -moz-box-shadow: 0px 0px 3px 1px #245580;
        box-shadow: 0px 0px 3px 1px #245580;
    }

    #buttonAlign {
        order: 1;
        box-shadow: inset 0px 8px 48px #0000FF;
    }



    /*td a {
        display: block;
        background-color: #f7f7f7;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#e7e7e7));
        background-image: -webkit-linear-gradient(top, #f7f7f7, #e7e7e7);
        background-image: -moz-linear-gradient(top, #f7f7f7, #e7e7e7);
        background-image: -ms-linear-gradient(top, #f7f7f7, #e7e7e7);
        background-image: -o-linear-gradient(top, #f7f7f7, #e7e7e7);
        color: #a7a7a7;
        margin: 36px;
        width: 144px;
        height: 144px;
        position: relative;
        text-align: center;
        line-height: 144px;
        border-radius: 50%;
        box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
    }*/

    a:hover {
        text-decoration: none;
        color: #555;
    }

  
</style>

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">


@*<script>

        function goTo(id) {
            window.location.href = '/InventoryArticles/Index/' + id;
        }

        var array = JSON.parse('@Html.Raw(Json.Serialize(ViewBag.Lista))');

        var arrayID = JSON.parse('@Html.Raw(Json.Serialize(ViewBag.ListaId))');

        let count = array.length;

        let countID = arrayID.length;

        let conta = count / 3;

        let number = 3;

        let number1 = 0;

        let numberID = 0;

        window.addEventListener('load', () => {

            for (let k = 0; k < conta; k++) {

                if (conta != 0) {
                    tableCreate(number, number1, numberID);
                }

                number = number + 3;
                number1 = number - 3;
                numberID = numberID + 1;
            }

        });

          function tableCreate(number, number1) {
              var body = document.getElementById('tableIndex');
              var tbl = document.createElement('table');

              for (var k = numberID; k < numberID + 1; k++) {
                  tbl.id = arrayID[k];
              }
          tbl.style.width = '200px';
          tbl.style.height = '300px';
          tbl.setAttribute('border', '1');
              var tbdy = document.createElement('tbody');
                        for (var i = number1; i < number; i++) {
                            var tr = document.createElement('tr');
                            tr.className = 'clickable-row';
            for (var j = 0; j < 1; j++) {
              if (i == 3 && j == 1) {
                break
              } else {
                  var td = document.createElement('td');
                  td.style.textAlign = 'center';
                  td.addEventListener('click', () => {
                      goTo(tbl.id);
                  });
                  td.appendChild(document.createTextNode(array[i]));
                i == 1 && j == 1 ? td.setAttribute('rowSpan', '2') : null;
                  tr.appendChild(td);
              }
            }
                            tbdy.appendChild(tr);
          }
          tbl.appendChild(tbdy);
              body.appendChild(tbl);
        }
    </script>*@



@using Syncfusion.EJ2


<div class="control-section card-control-section reveal_card_layout">
    <div class="e-card-resize-container">
        @foreach (var item in Model) {

        @*<div class=" card-layout">*@
        <div class="col-xs-12 col-sm-12 col-lg-4 col-md-4">
            <!-- Reveal Card Layout  -->


            <div class="e-card" style="text-align:center;margin-top:2em">
                <img class="img-responsive" src="@Url.Content(item.ImageUrl)" style="height:195px;width:350px" />
                <div id="card_revealed" style="min-height:177px">
                    <div class="e-card-content" style="line-height:2.75em">
                        <table style="width: 100%;table-layout: fixed;">
                            <tr>
                                <td>
                                    <div style="text-align: left;font-weight: 500;"> Name </div>
                                </td>
                                <td>
                                    <div style="text-align: left;width: 80px;white-space:nowrap">@item.Name</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div style="text-align: left;font-weight: 500;">Created on</div>
                                </td>
                                <td>
                                    <div style="text-align: left;white-space:nowrap">@item.Date</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div style="text-align: left;font-weight: 500;">State</div>
                                </td>
                                <td>
                                    <div style="text-align: left;">@item.State.Name</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="e-card-actions">

                                        <a id="showcarddata" class="e-btn e-outline e-primary" asp-action="Index" asp-controller="InventoryArticles" asp-route-id="@item.Id">Articles</a>


                                    </div>
                                </td>
                                <td>
                                    <div class="e-card-actions">

                                        <a id="showcarddata" class="e-btn e-outline e-primary" asp-action="EditInventoryState" asp-controller="AInventories" asp-route-id="@item.Id">Change State</a>


                                    </div>
                                </td>
                                <td style="text-align:right">
                                    <div class="e-card-actions">
                                        <a id="showcarddata" class="e-btn e-outline e-primary" asp-action="Index" asp-controller="ViewerInventories" asp-route-id="@item.Id">Viewers</a>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                @*<div id="card_reveal" style="min-height:154px">
                    <div class="e-card-header">
                        <div class="e-card-header-caption">
                            <div class="e-card-header-title">TypeScript</div>
                        </div>
                        <div id="card-reveal_collapse" title="Click to see back...">
                            <span class="e-icons e-collapse" style="height: 5px;"></span>
                        </div>
                    </div>

                    <div class="e-card-content" style="line-height:1.4em">
                        Microsoft has done extensive work to make JavaScript easier to use. Microsoft TypeScript extends many familiar features of .NET programming to JavaScript.
                    </div>

                    <div class="e-card-actions e-card-vertical">
                        <a href="https://www.syncfusion.com/ebooks/typescript" target="_blank"> </a>
                    </div>
                </div>*@
            </div>


        </div>

        @*</div>*@

         }
    </div>
   
</div>






<div class="col-xs-12 col-sm-12 col-lg-4 col-md-4">


    <a asp-action="Create" class="btn btn-lg btn-primary btn-circle fa fa-plus" style="margin-top:8em;height:4em;width:4em; padding:22px">

    </a>
</div>












<style>
    .card-control-section.reveal_card_layout .e-card #card_revealed .e-card-content table td,
    .card-control-section.reveal_card_layout .e-card #card_reveal .e-card-header .e-card-header-caption {
        text-align: left
    }

        .card-control-section.reveal_card_layout .e-card #card_revealed .e-card-content table td .e-card-actions .e-card-btn {
            background-color: inherit;
            border: none;
        }

    .card-control-section.reveal_card_layout  .e-card #card_reveal.e-reveal-show {
        display: block;
        height: auto;
        overflow: hidden;
    }

    .card-control-section.reveal_card_layout  .e-card .e-reveal-show {
        animation: reveal 0.3s cubic-bezier(.8, .2, .1, 0.8);
    }

    .card-control-section.reveal_card_layout .e-card #card_reveal.e-reveal-hide {
        animation: hidden 0.3s cubic-bezier(.8, .2, .1, 0.8);
        transition: all 200ms;
        transform: translateY(0px) scale(0);
    }

    .card-control-section.reveal_card_layout .e-card #card_reveal {
        display: none;
    }

    .card-control-section.reveal_card_layout .card-layout .e-card .e-reveal-hide {
        display: none;
        height: 0;
        overflow: hidden;
    }

    @@keyframes hidden {
        0% {
            transform: translateY(-100px);
            display: block !important;
            z-index: 20;
        }

        10% {
            transform: translateY(-90px);
        }

        20% {
            transform: translateY(-80px);
        }

        30% {
            transform: translateY(-70px);
        }

        40% {
            transform: translateY(-60px);
        }

        50% {
            transform: translateY(-50px);
        }

        60% {
            transform: translateY(-40px);
        }

        70% {
            transform: translateY(-30px);
        }

        80% {
            transform: translateY(-20px);
        }

        90% {
            transform: translateY(-10px);
        }

        100% {
            transform: translateY(0px) scale(0);
            display: none;
            z-index: 0;
        }
    }

    @@keyframes reveal {
        0% {
            transform: translateY(100px);
        }

        10% {
            transform: translateY(90px);
        }

        20% {
            transform: translateY(80px);
        }

        30% {
            transform: translateY(70px);
        }

        40% {
            transform: translateY(60px);
        }

        50% {
            transform: translateY(50px);
        }

        60% {
            transform: translateY(40px);
        }

        70% {
            transform: translateY(30px);
        }

        80% {
            transform: translateY(20px);
        }

        90% {
            transform: translateY(10px);
        }

        100% {
            transform: translateY(0px) scale(0);
        }
    }

    .card-control-section.reveal_card_layout .e-card .e-collapse:before {
        content: "\e7fc";
        font-size: 12px;
    }

    .card-control-section.reveal_card_layout .e-card .e-reveal-icon {
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
    }

        .card-control-section.reveal_card_layout .e-card .e-reveal-icon:before {
            content: "\e984";
        }

    .card-control-section.reveal_card_layout .col-xs-6.col-sm-6.col-lg-6.col-md-6 {
        width: 100%;
        padding: 10px;
    }

    .card-control-section.reveal_card_layout .card-layout {
        margin: auto;
        max-width: 250px;
    }

    @@media (min-width: 560px) {
        .card-control-section.reveal_card_layout .col-xs-6.col-sm-6.col-lg-6.col-md-6 {
            width: 100%;
        }

            .card-control-section.reveal_card_layout .col-xs-6.col-sm-6.col-lg-6.col-md-6 .e-card {
                width: 250px;
                margin: auto;
            }
    }
</style>

@section Scripts {
    <script type="text/javascript">
        document.getElementById('showcarddata').onclick = function () {
            var cEle = document.getElementById('card_revealed');
            var cardEle = cEle.parentNode.parentNode;
            var revealEle = cardEle.querySelector('#card_reveal');
            revealEle.classList.add('e-reveal-show');
            revealEle.classList.remove('e-reveal-hide');
            var revealedEle = cardEle.querySelector('#card_revealed');
            revealedEle.classList.add('e-reveal-hide');
            revealedEle.classList.remove('e-reveal-show');
        };
        document.getElementById('showcarddata_icon').onclick = function () {
            var cEle = document.getElementById('card_revealed');
            var cardEle = cEle.parentNode.parentNode;
            var revealEle = cardEle.querySelector('#card_reveal');
            revealEle.classList.add('e-reveal-show');
            revealEle.classList.remove('e-reveal-hide');
            var revealedEle = cardEle.querySelector('#card_revealed');
            revealedEle.classList.add('e-reveal-hide');
            revealedEle.classList.remove('e-reveal-show');
        };
        document.getElementById('card-reveal_collapse').onclick = function (e) {
            var cardEle = e.currentTarget.parentNode.parentNode.parentElement;
            var revealEle = cardEle.querySelector('#card_reveal');
            revealEle.classList.add('e-reveal-hide');
            revealEle.classList.remove('e-reveal-show');
            var revealedEle = cardEle.querySelector('#card_revealed');
            revealedEle.classList.add('e-reveal-show');
            revealedEle.classList.remove('e-reveal-hide');
        };
    </script>
}
