﻿@model IEnumerable<Inventory.Web.Data.Entities.Viewer>




@{ var template = "<div class='e-list-wrapper e-list-avatar'>" +
                "<span id=\"${$imgUrl ? \'hideUI\' : \'showUI\' }\" class='e-avatar e-avatar-circle' icon='${icon}'> " +
           "${icon}</span> <img id=\"${$imgUrl ? \'showUI\' : \'hideUI\' }\" class='e-avatar e-avatar-circle' src=\"${$imgUrl ?  $imgUrl : \' \' }\" />" +
           "<span class='e-list-content'>${text}</span></div>";

}



<ejs-listview id="ui-list" dataSource="ViewBag.listData" showHeader="true" enableVirtualization="true" headerTitle="Viewers" template=@template cssClass="e-list-template">
    <e-listview-fieldsettings tooltip="text">
    </e-listview-fieldsettings>
</ejs-listview>


<style>
        #ui-list.e-listview {
        margin: auto;
        max-width: 325px;
        line-height: initial;
        border: 1px solid lightgray;
    }

        /* ListView header alignment */

        #ui-list.e-listview .e-list-header {
            height: 50px;
            background-color: dodgerblue;
            color: white;
        }

            #ui-list.e-listview .e-list-header .e-text {
                line-height: 18px
            }

        /* ListView template customization */

        #ui-list.e-listview #showUI {
            display: flex;
        }

        #ui-list.e-listview #hideUI {
            display: none;
        }

        #ui-list.e-listview .e-list-item {
            padding: 3px 0;
        }
            #icon {

        text-align: center;

        color: white;
        }
    
        .e-avatar-circle{
           background-color: dodgerblue;
        }

        .e-list-header{
            background-color: dodgerblue;
            color: white;
        }
        .e-icons.e-icon-back.e-but-back{
            color:white;
        }
</style>

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

<script>
    window.addEventListener('click', function (e) {

        if (e.target.innerHTML == "Inventories") {
            let headertext = document.getElementsByClassName('e-headertext');
            window.location.href = '/AInventories/IndexViewer/?username=' + headertext[0].innerHTML;
        }

        if (e.target.innerHTML == "Change Permission") {
            let headertext = document.getElementsByClassName('e-headertext');
            window.location.href = '/Viewers/EditRole/?username=' + headertext[0].innerHTML;
        }

        if (e.target.innerHTML == "Details") {
            let headertext = document.getElementsByClassName('e-headertext');
            window.location.href = '/Viewers/Details/?username=' + headertext[0].innerHTML;
        }
    });

</script>

