﻿
<!DOCTYPE html>
<html lang="zxx" style="margin:0">
<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="~/favicon.ico">

    <!-- Author Meta -->
    <meta name="author" content="codepixer">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Your Inventory Now</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <!-- Syncfusion Essential JS 2 Styles -->
    <link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/material.css" />

    <!-- Syncfusion Essential JS 2 Scripts -->
    <script src="https://cdn.syncfusion.com/ej2/dist/ej2.min.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <!--
    CSS
    ============================================= -->


    <link href="~/css/Saas/css/linearicons.css" rel="stylesheet" />
    <link href="~/css/Saas/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/Saas/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/Saas/css/magnific-popup.css" rel="stylesheet" />
    <link href="~/css/Saas/css/nice-select.css" rel="stylesheet" />
    <link href="~/css/Saas/css/animate.min.css" rel="stylesheet" />
    <link href="~/css/Saas/css/owl.carousel.css" rel="stylesheet" />
    <link href="~/css/Saas/css/main.css" rel="stylesheet" />

    <style>


        .banner-area{
            background:url(@Url.Content("~/images/Saas/img/header-bg.jpg")) center;
            background-size:cover}
        .banner-area .overlay-bg{
        background-color:rgba(59,172,240,0.9)}

        

    </style>
</head>

<body style="background-color: #F9FAFC;">
    <header id="header" id="home" style="background-color: #3bacf0;">
        <div class="container">
            <div class="row align-items-center justify-content-between d-flex">
                <div id="logo">
                    <a asp-controller="Home" asp-action="Index"><img src="" alt="" title="" /></a>
                </div>
                <nav id="nav-menu-container">
                    <ul class="nav-menu">

                        @if (User.Identity.IsAuthenticated && User.Identity.Name == "jarinventory@gmail.com")
                        {
                            <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                            <li><a asp-area="" asp-controller="Clients" asp-action="IndexAdmin">Clients</a></li>
                            <li class="menu-has-children">
                                <a style="color:white;">Other</a>
                                <ul>
                                    <li><a asp-area="" asp-controller="States" asp-action="Index">States</a></li>
                                    <li><a asp-area="" asp-controller="SubscriptionTypes" asp-action="Index">Subscription Types</a></li>
                                </ul>
                            </li>
                        }

                        else if (User.Identity.IsAuthenticated == false)
                        {
                            <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                        }

                        else if (User.Identity.IsAuthenticated && User.IsInRole("InventoryCRU") && User.IsInRole("InventoryAdmin"))
                        {

                            <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                            <li class="menu-has-children">
                                <a style="color:white;">Inventories</a>
                                <ul>
                                    <li><a asp-area="" asp-controller="AInventories" asp-action="Index">My Inventories</a></li>
                                    <li><a asp-area="" asp-controller="AInventories" asp-action="IndexViewer">As Viewer</a></li>
                                </ul>
                            </li>

                            <li><a asp-area="" asp-controller="Viewers" asp-action="Index">Viewers</a></li>
                            <li><a asp-area="" asp-controller="Clients" asp-action="Details">Profile</a></li>
                        }

                        else if (User.Identity.IsAuthenticated && User.IsInRole("InventoryView") && User.IsInRole("InventoryAdmin"))
                        {

                            <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                            <li class="menu-has-children">
                                <a style="color:white;">Inventories</a>
                                <ul>
                                    <li><a asp-area="" asp-controller="AInventories" asp-action="Index">My Inventories</a></li>
                                    <li><a asp-area="" asp-controller="AInventories" asp-action="IndexViewer">As Viewer</a></li>
                                </ul>
                            </li>
                            <li><a asp-area="" asp-controller="Viewers" asp-action="Index">Viewers</a></li>
                            <li><a asp-area="" asp-controller="Clients" asp-action="Details">Profile</a></li>
                        }

                        else if (User.Identity.IsAuthenticated && User.IsInRole("InventoryCRU") || User.IsInRole("InventoryView"))
                        {

                            <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                            <li><a asp-area="" asp-controller="AInventories" asp-action="IndexViewer">Inventories</a></li>
                        }

                        else
                        {
                            <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                            <li><a asp-area="" asp-controller="AInventories" asp-action="Index">Inventories</a></li>
                            <li><a asp-area="" asp-controller="Viewers" asp-action="Index">Viewers</a></li>
                            <li><a asp-area="" asp-controller="Clients" asp-action="Details">Profile</a></li>
                        }





                        <li class="menu-has-children">
                            <a style="color:white;">Client Area</a>
                            <ul>

                                @if (User.Identity.IsAuthenticated && User.Identity.Name == "jarinventory@gmail.com")
                                {
                                    @if (this.User.Identity.IsAuthenticated)
                                    {
                                        <li><a asp-area="" asp-controller="Account" asp-action="ChangeUser">@this.User.Identity.Name</a></li> //Text = "" tem de ser uma a porque o botão não vai à Action
                                        <li><a asp-area="" asp-controller="Account" asp-action="Logout">Logout</a></li>
                                    }
                                    else
                                    {
                                        <li><a asp-area="" asp-controller="Account" asp-action="Login">Login</a></li>
                                    }
                                }

                                else if (User.Identity.IsAuthenticated == false)
                                {
                                    @if (this.User.Identity.IsAuthenticated)
                                    {
                                        <li><a asp-area="" asp-controller="Account" asp-action="ChangeUser">@this.User.Identity.Name</a></li> //Text = "" tem de ser uma a porque o botão não vai à Action
                                        <li><a asp-area="" asp-controller="Account" asp-action="Logout">Logout</a></li>
                                    }
                                    else
                                    {
                                        <li><a asp-area="" asp-controller="Account" asp-action="Register">Register</a></li>
                                        <li><a asp-area="" asp-controller="Account" asp-action="Login">Login</a></li>
                                    }
                                }

                                else if (User.Identity.IsAuthenticated && User.IsInRole("InventoryCRU") || User.IsInRole("InventoryView"))
                                {
                                    @if (this.User.Identity.IsAuthenticated)
                                    {
                                        <li><a asp-area="" asp-controller="Account" asp-action="ChangeUser">@this.User.Identity.Name</a></li> //Text = "" tem de ser uma a porque o botão não vai à Action
                                        <li><a asp-area="" asp-controller="Account" asp-action="Logout">Logout</a></li>
                                    }
                                    else
                                    {
                                        <li><a asp-area="" asp-controller="Account" asp-action="Login">Login</a></li>
                                    }
                                }

                                else
                                {
                                    @if (this.User.Identity.IsAuthenticated)
                                    {
                                        <li><a asp-area="" asp-controller="Account" asp-action="ChangeUser">@this.User.Identity.Name</a></li> //Text = "" tem de ser uma a porque o botão não vai à Action
                                        <li><a asp-area="" asp-controller="Account" asp-action="Logout">Logout</a></li>
                                    }
                                    else
                                    {
                                        <li><a asp-area="" asp-controller="Account" asp-action="Login">Login</a></li>
                                    }
                                }

                            </ul>
                        </li>
                        @if (User.Identity.IsAuthenticated == false)
                        {
                            <li><a class="ticker-btn" asp-controller="Account" asp-action="Register">Get Started</a></li>
                        }

                        else
                        {
                            <li>



                                <a asp-controller="Account" asp-action="ChangeUser">Hello  @User.Identity.Name  <i class="fa fa-heart-o" aria-hidden="true"></i></a>
                            </li>
                        }

                    </ul>
                </nav><!-- #nav-menu-container -->
            </div>
        </div>
    </header><!-- #header -->
    <!-- Start feature Area -->
    <partial name="_CookieConsentPartial" />
    <hr />
    <div class="container body-content">
        @RenderBody()
    </div>



    <!-- start footer Area -->
    <footer class="footer-area section-gap footer" style="margin-bottom:0;padding-top:50px;margin-top:200px">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h6>About Us</h6>
                        <p>
                            Two Guys and a Girl that want to change the world, one code line at a time.
                        </p>
                        <p class="footer-text">

                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved <i class="fa fa-heart-o" aria-hidden="true"></i>

                        </p>
                    </div>
                </div>
                <div class="col-lg-5  col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h6>Newsletter</h6>
                        <p>Stay update with our latest</p>
                        <div class="" id="mc_embed_signup">
                            <form target="_blank" novalidate="true" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="form-inline">
                                <input class="form-control" name="EMAIL" placeholder="Enter Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Email '" required="" type="email">
                                <button class="click-btn btn btn-default"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
                                <div style="position: absolute; left: -5000px;">
                                    <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
                                </div>

                                <div class="info"></div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </footer>
    <!-- End footer Area -->
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>


    <script src="~/js/Saas/js/vendor/jquery-2.2.4.min.js"></script>
    <script src="~/js/Saas/js/vendor/bootstrap.min.js"></script>
    <script src="~/js/Saas/js/easing.min.js"></script>
    <script src="~/js/Saas/js/hoverIntent.js"></script>
    <script src="~/js/Saas/js/superfish.min.js"></script>
    <script src="~/js/Saas/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/js/Saas/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/Saas/js/owl.carousel.min.js"></script>
    <script src="~/js/Saas/js/jquery.sticky.js"></script>
    <script src="~/js/Saas/js/jquery.nice-select.min.js"></script>
    <script src="~/js/Saas/js/parallax.min.js"></script>
    <script src="~/js/Saas/js/mail-script.js"></script>
    <script src="~/js/Saas/js/main.js"></script>



    <!-- Syncfusion Essential JS 2 ScriptManager -->
    <ejs-scripts></ejs-scripts>


</body>
</html>




