﻿

@{ var template = "<div class='e-list-wrapper e-list-avatar'>" +
                "<span id=\"${$imgUrl ? \'hideUI\' : \'showUI\' }\" class='e-avatar e-avatar-circle' icon='${icon}'> " +
           "${icon}</span> <img id=\"${$imgUrl ? \'showUI\' : \'hideUI\' }\" class='e-avatar e-avatar-circle' src=\"${$imgUrl ?  $imgUrl : \' \' }\" />" +
           "<span class='e-list-content'>${text}</span></div>";

}
<div class="row">
    <ejs-listview id="ui-list" dataSource="ViewBag.listData" showHeader="true" enableVirtualization="true" headerTitle="Viewers" template=@template cssClass="e-list-template">
        <e-listview-fieldsettings tooltip="text">
        </e-listview-fieldsettings>
    </ejs-listview>

</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-lg btn-primary btn-circle fa fa-plus" style="height:4em;width:4em;margin-top:10px; padding:22px" data-toggle="modal" data-target="#exampleModalCenter"></button>

<div style="margin-top:10px;">
    <a asp-action="Index" asp-controller="AInventories">Back to List</a>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="exampleModalLongTitle"><i>Viewer</i></h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5><b><i>Is the Viewer already created?</i></b></h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">No</button>
                <button type="button" class="btn btn-primary">Yes</button>
            </div>
        </div>
    </div>
</div>

<style>
        #ui-list.e-listview {
        margin: auto;
        max-width: 325px;
        line-height: initial;
        border: 1px solid lightgray;
    }

        /* ListView header alignment */

        #ui-list.e-listview .e-list-header {
            height: 50px;
            background-color: dodgerblue;
            color: white;
        }

            #ui-list.e-listview .e-list-header .e-text {
                line-height: 18px
            }

        /* ListView template customization */

        #ui-list.e-listview #showUI {
            display: flex;
        }

        #ui-list.e-listview #hideUI {
            display: none;
        }

        #ui-list.e-listview .e-list-item {
            padding: 3px 0;
        }
            #icon {

        text-align: center;

        color: white;
        }
    
        .e-avatar-circle{
           background-color: dodgerblue;
        }

        .e-list-header{
            background-color: dodgerblue;
            color: white;
        }
        .e-icons.e-icon-back.e-but-back{
            color:white;
        }
</style>

<style>


    .tableIndex, .btn-circle, .btn-circle-3d {
        border-radius: 50% !important;
    }

    .tableIndex, .btn-primary.btn-circle {
        -webkit-box-shadow: 0px 0px 3px 1px #245580;
        -moz-box-shadow: 0px 0px 3px 1px #245580;
        box-shadow: 0px 0px 3px 1px #245580;
    }

    #buttonAlign {
        order: 1;
        box-shadow: inset 0px 8px 48px #0000FF;
    }

    a:hover {
        text-decoration: none;
        color: #555;
    }
</style>

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


<script>
    window.addEventListener('click', function (e) {

        if (e.target.innerHTML == "Remove") {
            let headertext = document.getElementsByClassName('e-headertext');
            window.location.href = '/Viewers/RemoveViewerFromInventory/'+ @ViewBag.IdInventory + '?username=' + headertext[0].innerHTML;
        }
    });

    $(".btn.btn-primary").on('click', function (e) {
        if (e.target.innerHTML === "Yes") {
            window.location.href = '/Viewers/IndexAdmin/' + @ViewBag.IdInventory;
        }
        else if (e.target.innerHTML === "No") {
            window.location.href = '/Viewers/Create/' + @ViewBag.IdInventory;
        }
    });

</script>