﻿
@{ 
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>404 HTML Template by Colorlib</title>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,400,700" rel="stylesheet">
    <link href="~/css/CannotDelete.css" rel="stylesheet" />
    <!-- Custom stlylesheet -->


</head>
<body>
    <div id="notfound">
        <div class="notfound">
            <div class="notfound-404">
                <h1>Oops!</h1>
                <h2>You Cannot Delete This (it has dependencies)</h2>
            </div>
            <a asp-action="Index" asp-controller="Home" class="btn" style="color:white">Go to Home</a>
        </div>
    </div>


</body>
</html>

