﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="pt">
<head>
    <meta charset="UTF-8">

    <link href="~/css/AcessDenied.css" rel="stylesheet" />
    <script src="~/js/AcessDenied.js"></script>

</head>
<body>

    <div class="container">
        <h1>
            4<div class="lock">
                <div class="top"></div><div class="bottom"></div>
            </div>3
        </h1><p>Access denied</p>
        <a asp-action="Index" asp-controller="Home" class="btn" style="color:white">Go to Home</a>
    </div>
   
   
</body>
</html>
