﻿@{
    Layout = null;
}

<!DOCTYPE html>






<html lang="pt">
<head>
    <meta charset="UTF-8">


    <link href="~/css/BadRequest.css" rel="stylesheet" />
</head>
<body>

    <div class="overlay"></div>
    <div class="terminal">
        <h1>Error <span class="errorcode">400</span></h1>
        <p class="output">The page you are looking for might have been removed, had its name changed or is temporarily unavailable</ü>
        <p class="output">Please try <a asp-action="Index" asp-controller="Home">this link</a>
        <p class="output">Good luck</p>
    </div>
</body>
</html>