﻿@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>




<h3>We are JAR :<span style="color:cornflowerblue"> J</span>osé, <span style="color:cornflowerblue">A</span>ntónio and <span style="color:cornflowerblue">R</span>ita. </h3>
<p></p>
<p></p>
<p>Two Guys and a Girl that want to rule the world, one code line at a time.</p>
