﻿@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>


<address>
    Oeiras Valley<br />
    Portugal<br />
    <abbr title="Phone"><span class="lnr lnr-smartphone"></span></abbr>
    914156213
</address>

<address>
    <strong>Support:</strong> <a href="mailto:jarinventory@gmail.com">jarinventory@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:jarinventory@gmail.com">jarinventory@gmail.com</a>
</address>
