﻿
@{
    Layout = null;

}


<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="~/favicon.ico">

    <!-- Author Meta -->
    <meta name="author" content="codepixer">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Your Inventory Now</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <!-- Syncfusion Essential JS 2 Styles -->
    <link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/material.css" />

    <!-- Syncfusion Essential JS 2 Scripts -->
    <script src="https://cdn.syncfusion.com/ej2/dist/ej2.min.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <!--
    CSS
    ============================================= -->


    <link href="~/css/Saas/css/linearicons.css" rel="stylesheet" />
    <link href="~/css/Saas/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/Saas/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/Saas/css/magnific-popup.css" rel="stylesheet" />
    <link href="~/css/Saas/css/nice-select.css" rel="stylesheet" />
    <link href="~/css/Saas/css/animate.min.css" rel="stylesheet" />
    <link href="~/css/Saas/css/owl.carousel.css" rel="stylesheet" />
    <link href="~/css/Saas/css/main.css" rel="stylesheet" />
    <style>
        .banner-area{
            background:url(@Url.Content("~/images/Saas/img/header-bg.jpg")) center;
            background-size:cover}
        .banner-area .overlay-bg{
        background-color:rgba(59,172,240,0.9)}


             

    </style>
</head>
<body>
    <header id="header" id="home" style="background-color: #3bacf0;" >
        <div class="container">
            <div class="row align-items-center justify-content-between d-flex">
                <div id="logo">
                    <a asp-controller="Home" asp-action="Index"><img src="" alt="" title="" /></a>
                </div>
                <nav id="nav-menu-container">
                    <ul class="nav-menu">

                        @if (User.Identity.IsAuthenticated && User.Identity.Name == "jarinventory@gmail.com")
                        {
                            <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                            <li><a asp-area="" asp-controller="Clients" asp-action="IndexAdmin">Clients</a></li>
                            <li class="menu-has-children">
                                <a style="color:white;">Other</a>
                                <ul>
                                    <li><a asp-area="" asp-controller="States" asp-action="Index">States</a></li>
                                    <li><a asp-area="" asp-controller="SubscriptionTypes" asp-action="Index">Subscription Types</a></li>
                                </ul>
                            </li>
                        }

                        else if (User.Identity.IsAuthenticated == false)
                        {
                            <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                        }

                        else if (User.Identity.IsAuthenticated && User.IsInRole("InventoryCRU") && User.IsInRole("InventoryAdmin"))
                        {

                            <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                            <li class="menu-has-children">
                                <a style="color:white;">Inventories</a>
                                <ul>
                                    <li><a asp-area="" asp-controller="AInventories" asp-action="Index">My Inventories</a></li>
                                    <li><a asp-area="" asp-controller="AInventories" asp-action="IndexViewer">As Viewer</a></li>
                                </ul>
                            </li>
                            <li><a asp-area="" asp-controller="Viewers" asp-action="Index">Viewers</a></li>
                            <li><a asp-area="" asp-controller="Clients" asp-action="Details">Profile</a></li>
                        }

                        else if (User.Identity.IsAuthenticated && User.IsInRole("InventoryView") && User.IsInRole("InventoryAdmin"))
                        {

                            <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                            <li class="menu-has-children">
                                <a style="color:white;">Inventories</a>
                                <ul>
                                    <li><a asp-area="" asp-controller="AInventories" asp-action="Index">My Inventories</a></li>
                                    <li><a asp-area="" asp-controller="AInventories" asp-action="IndexViewer">As Viewer</a></li>
                                </ul>
                            </li>
                            <li><a asp-area="" asp-controller="Viewers" asp-action="Index">Viewers</a></li>
                            <li><a asp-area="" asp-controller="Clients" asp-action="Details">Profile</a></li>
                        }

                        else if (User.Identity.IsAuthenticated && User.IsInRole("InventoryCRU") || User.IsInRole("InventoryView"))
                        {

                            <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                            <li><a asp-area="" asp-controller="AInventories" asp-action="IndexViewer">Inventories</a></li>
                        }

                        else
                        {
                            <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                            <li><a asp-area="" asp-controller="AInventories" asp-action="Index">Inventories</a></li>
                            <li><a asp-area="" asp-controller="Viewers" asp-action="Index">Viewers</a></li>
                            <li><a asp-area="" asp-controller="Clients" asp-action="Details">Profile</a></li>
                        }





                        <li class="menu-has-children">
                            <a style="color:white;">Client Area</a>
                            <ul>

                                @if (User.Identity.IsAuthenticated && User.Identity.Name == "jarinventory@gmail.com")
                                {
                                    @if (this.User.Identity.IsAuthenticated)
                                    {
                                        <li><a asp-area="" asp-controller="Account" asp-action="ChangeUser">@this.User.Identity.Name</a></li> //Text = "" tem de ser uma a porque o botão não vai à Action
                                        <li><a asp-area="" asp-controller="Account" asp-action="Logout">Logout</a></li>
                                    }
                                    else
                                    {
                                        <li><a asp-area="" asp-controller="Account" asp-action="Login">Login</a></li>
                                    }
                                }

                                else if (User.Identity.IsAuthenticated == false)
                                {
                                    @if (this.User.Identity.IsAuthenticated)
                                    {
                                        <li><a asp-area="" asp-controller="Account" asp-action="ChangeUser">@this.User.Identity.Name</a></li> //Text = "" tem de ser uma a porque o botão não vai à Action
                                        <li><a asp-area="" asp-controller="Account" asp-action="Logout">Logout</a></li>
                                    }
                                    else
                                    {
                                        <li><a asp-area="" asp-controller="Account" asp-action="Register">Register</a></li>
                                        <li><a asp-area="" asp-controller="Account" asp-action="Login">Login</a></li>
                                    }
                                }

                                else if (User.Identity.IsAuthenticated && User.IsInRole("InventoryCRU") || User.IsInRole("InventoryView"))
                                {
                                    @if (this.User.Identity.IsAuthenticated)
                                    {
                                        <li><a asp-area="" asp-controller="Account" asp-action="ChangeUser">@this.User.Identity.Name</a></li> //Text = "" tem de ser uma a porque o botão não vai à Action
                                        <li><a asp-area="" asp-controller="Account" asp-action="Logout">Logout</a></li>
                                    }
                                    else
                                    {
                                        <li><a asp-area="" asp-controller="Account" asp-action="Login">Login</a></li>
                                    }
                                }

                                else
                                {
                                    @if (this.User.Identity.IsAuthenticated)
                                    {
                                        <li><a asp-area="" asp-controller="Account" asp-action="ChangeUser">@this.User.Identity.Name</a></li> //Text = "" tem de ser uma a porque o botão não vai à Action
                                        <li><a asp-area="" asp-controller="Account" asp-action="Logout">Logout</a></li>
                                    }
                                    else
                                    {
                                        <li><a asp-area="" asp-controller="Account" asp-action="Login">Login</a></li>
                                    }
                                }

                            </ul>
                        </li>
                        @if (User.Identity.IsAuthenticated == false)
                        {
                            <li><a class="ticker-btn" asp-controller="Account" asp-action="Register">Get Started</a></li>
                        }
                        else
                        {
                            <li>
                                <a asp-controller="Account" asp-action="ChangeUser">Hello  @this.User.Identity.Name  <i class="fa fa-heart-o" aria-hidden="true"></i></a>
                            </li>
                        }

                    </ul>
                </nav><!-- #nav-menu-container -->
            </div>
        </div>
    </header><!-- #header -->

        <!-- start banner Area -->
        <section class="banner-area relative" id="home">

            <div class="overlay overlay-bg"></div>
            <div class="container">
                <div class="row fullscreen d-flex align-items-center justify-content-center">
                    <div class="banner-content col-lg-8">
                        <h1 class="text-white">
                            Organize all with
                            <p> Your Inventory Now</p>

                        </h1>
                        <p class="pt-20 pb-20 text-white">
                            Meet the best in-cloud inventory application
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <!-- End banner Area -->
        <section class="feature-area pb-100" id="service">
            <div class="container">
                <div class="row mockup-container">
                    <img class="mx-auto d-block img-fluid" src="~/images/Saas/img/laptop.png" alt="">
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="menu-content pt-100 pb-60 col-lg-10">
                        <div class="title text-center">
                            <h1 class="mb-10">Get your life and business organized</h1>
                            <p>We have the solution you need. Customized just for you</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="single-feature">
                            <span class="lnr lnr-screen"></span>
                            <h4>
                                Stunning Visuals
                            </h4>
                            <p>
                                Modern and User Friendly Interfaces to You and your Inventory Viewers.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="single-feature">
                            <span class="lnr lnr-magic-wand"></span>
                            <h4>
                                Customized
                            </h4>
                            <p>
                                Unique features just to fit your needs at a beneath market cost.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="single-feature">
                            <span class="lnr lnr-laptop-phone"></span>
                            <h4>
                                Available on the Web and Mobile
                            </h4>
                            <p>
                                Enjoy our application wether you are using your computer or mobile phone. Don´t ever miss a change to organize your life.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End feature Area -->
        <!-- Start about Area -->
        <section class="about-area section-gap">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="menu-content pb-60 col-lg-10">
                        <div class="title text-center">
                            <h1 class="mb-10">Powerful User interface Design</h1>
                            <p>No need to user paper and pen anymore</p>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-lg-6 about-left">
                        <h6>Brand new app to blow your mind</h6>
                        <h1>
                            We’ve made an app <br>
                            that will change you
                        </h1>
                        <p>
                            <span>
                                Maximize your profite and make your business grow.
                            </span>
                        </p>
                        <p>
                            Don´t waste anymore time. Organize your business and let the world be the limit.
                        </p>
                        <a asp-controller="Account" asp-action="Register" class="primary-btn">Get Started now</a>
                    </div>
                    <div class="col-lg-6 about-right">
                        <div class="active-about-carusel">
                            <div class="single-carusel item">
                                <img class="img-fluid" src="~/images/Saas/img/about-img.png" alt="">
                            </div>
                            <div class="single-carusel item">
                                <img class="img-fluid" src="~/images/Saas/img/about-img.png" alt="">
                            </div>
                            <div class="single-carusel item">
                                <img class="img-fluid" src="~/images/Saas/img/about-img.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End about Area -->
        <!-- Start service Area -->
        <section class="service-area section-gap" id="feature">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="menu-content pb-60 col-lg-10">
                        <div class="title text-center">
                            <h1 class="mb-10">Features That make us Unique</h1>
                            <p>A Product you have never seen before.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 secvice-left">
                        <div class="single-service d-flex flex-row pb-30">
                            <div class="icon">
                                <h1>01</h1>
                            </div>
                            <div class="desc">
                                <h4>User Research</h4>
                                <p>
                                    We focus on understanding user behaviors, needs, and motivations through observation techniques, task analysis, and other feedback methodologies.
                                </p>
                            </div>
                        </div>
                        <div class="single-service d-flex flex-row pb-30">
                            <div class="icon">
                                <h1>03</h1>
                            </div>
                            <div class="desc">
                                <h4>Mobile Application</h4>
                                <p>
                                    Track, add, delete and edit your inventory items anywhere.
                                </p>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-6 secvice-right">
                        <div class="single-service d-flex flex-row pb-30">
                            <div class="icon">
                                <h1>02</h1>
                            </div>
                            <div class="desc">
                                <h4>User Interface and Experience</h4>
                                <p>
                                    Intuitive and easy to use layouts and tools.
                                    We work hard to deliver an efficient and pleasant product to fulfill all your needs.
                                </p>
                            </div>
                        </div>
                        <div class="single-service d-flex flex-row pb-30">
                            <div class="icon">
                                <h1>04</h1>
                            </div>
                            <div class="desc">
                                <h4>Geo-Coordinate Service Included</h4>
                                <p>
                                    Through your Zip Code you are able to know were your items are all the time.
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <!-- End service Area -->
        <!-- Start callto-action Area -->
        <section class="callto-action-area relative section-gap">
            <div class="overlay overlay-bg"></div>
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="menu-content col-lg-9">
                        <div class="title text-center">
                            <h1 class="mb-10 text-white">Got Impressed with our features</h1>
                            <p class="text-white">Don´t waist your time and start using our application right now</p>
                            <a asp-controller="Account" asp-action="Register" class="primary-btn">Register Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End calto-action Area -->
        <!-- End home-aboutus Area -->
        <!-- Start home-aboutus Area -->
        <section class="home-aboutus-area">
            <div class="container-fluid">
                <div class="row justify-content-center align-items-center">
                    <div class="col-lg-8 no-padding about-left relative">
                        <div class="overlay overlay-bg"></div>
                        <img class="img-fluid" src="~/images/Saas/img/f2.jpg" alt="">
                    </div>
                    <div class="col-lg-4 no-padding about-right" style="padding:10px">
                        <p class="top-title">24/7 Support system</p>
                        <h1>
                            A Handy support <br>
                            System for the Software
                        </h1>
                        <p><span>If you have any problem, don´t worry: We are here for you</span></p>
                        <p>
                            All our subscription types offer real time support.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <!-- End home-aboutus Area -->
        <!-- Start price Area -->
        <section class="price-area section-gap" id="price">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="menu-content pb-60 col-lg-8">
                        <div class="title text-center">
                            <h1 class="mb-10">Choose the best pricing for you</h1>
                            <p>We fit all budgets. Contact us if you need a custom subscription</p>
                        </div>
                    </div>
                </div>



                <div class="row">
                    @{
                        foreach (var subs in ViewBag.subscriptions)
                        {

                            <div class="col-lg-4">
                                <div class="single-price no-padding">
                                    <div class="price-top">
                                        <h4>@subs.Name</h4>
                                    </div>
                                    <ul class="lists">
                                        <li>@subs.Space Space</li>
                                        <li>Secure Online Transfer</li>
                                        <li>Unlimited Styles</li>
                                        <li>Customer Service @subs.CustomerService</li>
                                    </ul>
                                    <div class="price-bottom">
                                        <div class="price-wrap d-flex flex-row justify-content-center">
                                            <span class="price">$</span><h1>@Math.Round(subs.Price, 0) </h1><span class="time">Per <br> Month</span>
                                        </div>
                                        <a asp-controller="Account" asp-action="Register" class="primary-btn header-btn">Get Started</a>
                                    </div>

                                </div>
                            </div>


                        }
                    }
                </div>

            </div>
        </section>
        <!-- End price Area -->
        <!-- Start testimonial Area -->
        <section class="testimonial-area relative section-gap" id="testimonial">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="menu-content pb-60 col-lg-8">
                        <div class="title text-center">
                            <h1 class="mb-10">Testimonial from our Clients</h1>
                            <p>We care about what you have to say.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="active-testimonial">
                        <div class="single-testimonial item d-flex flex-row">
                            <div class="thumb">
                                <img class="img-fluid" src="~/images/bill.jpg" height="100" width="100" alt="">
                            </div>
                            <div class="desc">
                                <p>
                                    Best Inventory application I used in a long time. Wish I had found it sooner.
                                </p>
                                <h4 mt-30>Bill Gates</h4>
                                <div class="star">
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                </div>
                            </div>
                        </div>
                        <div class="single-testimonial item d-flex flex-row">
                            <div class="thumb">
                                <img class="img-fluid" src="~/images/mark.jpg" height="100" width="100" alt="">
                            </div>
                            <div class="desc">
                                <p>
                                    Better than Facebook. Can´t wait to see what these guys create next.
                                </p>
                                <h4 mt-30>Mark Zuckerberg</h4>
                                <div class="star">
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                </div>
                            </div>
                        </div>
                        <div class="single-testimonial item d-flex flex-row">
                            <div class="thumb">
                                <img class="img-fluid" src="~/images/rafael.jpg" alt="">
                            </div>
                            <div class="desc">
                                <p>
                                    Amazing user experience.
                                </p>
                                <h4 mt-30>Rafael Santos</h4>
                                <div class="star">
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                </div>
                            </div>
                        </div>
                        <div class="single-testimonial item d-flex flex-row">
                            <div class="thumb">
                                <img class="img-fluid" src="~/images/js.png" alt="">
                            </div>
                            <div class="desc">
                                <p>
                                    The best JavaScript I have ever seen. Amazing
                                </p>
                                <h4 mt-30>João Galamba</h4>
                                <div class="star">
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                </div>
                            </div>
                        </div>
                        <div class="single-testimonial item d-flex flex-row">
                            <div class="thumb">
                                <img class="img-fluid" src="~/images/jeff.jpg" alt="">
                            </div>
                            <div class="desc">
                                <p>
                                    Amazon works closely with Your Inventory Now. It works beautifully.
                                </p>
                                <h4 mt-30>Jeff Bezos</h4>
                                <div class="star">
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                </div>
                            </div>
                        </div>
                        <div class="single-testimonial item d-flex flex-row">
                            <div class="thumb">
                                <img class="img-fluid" src="~/images/linus.jpg" alt="">
                            </div>
                            <div class="desc">
                                <p>
                                    Your Inventory Now runs in Linux. Can´t wait to buy them off.
                                </p>
                                <h4 mt-30>Linus Torvalds</h4>
                                <div class="star">
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End testimonial Area -->
        <!-- Start latest-blog Area -->
        <section class="latest-blog-area section-gap" id="blog">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="menu-content pb-60 col-lg-8">
                        <div class="title text-center">
                            <h1 class="mb-10">Latest News about us in the Media</h1>
                            <p>See who´s talking about Your Inventory Now.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 single-blog">
                        <img class="img-fluid" src="~/images/Saas/img/b1.png" alt="">
                        <ul class="tags">
                            <li><a href="#">Technology</a></li>
                            <li><a href="#">Business</a></li>
                        </ul>
                        <a href="#"><h4>Your Inventory Now is taking the lead</h4></a>
                        <p>
                            Your Inventory Now has just been launched and is taking the world by surprise.
                        </p>
                        <p class="post-date">18st June, 2019</p>
                    </div>
                    <div class="col-lg-6 single-blog">
                        <img class="img-fluid" src="~/images/Saas/img/b2.png" alt="">
                        <ul class="tags">
                            <li><a href="#">Mobile Apps</a></li>
                            <li><a href="#">Inventories</a></li>
                        </ul>
                        <a href="#"><h4>Account for everything in your pocket</h4></a>
                        <p>
                            Your Inventory Now can be downloaded from Google Play.
                        </p>
                        <p class="post-date">18st June, 2019</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- End latest-blog Area -->



         <!-- start footer Area -->
    <footer class="footer-area section-gap"  style="margin-bottom:0px; height:10%">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h6>About Us</h6>
                        <p>
                            Two Guys and a Girl that want to change the world, one code line at a time.
                        </p>
                        <p class="footer-text">

                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved <i class="fa fa-heart-o" aria-hidden="true"></i>

                        </p>
                    </div>
                </div>
                <div class="col-lg-5  col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h6>Newsletter</h6>
                        <p>Stay update with our latest</p>
                        <div class="" id="mc_embed_signup">
                            <form target="_blank" novalidate="true" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="form-inline">
                                <input class="form-control" name="EMAIL" placeholder="Enter Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Email '" required="" type="email">
                                <button class="click-btn btn btn-default"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
                                <div style="position: absolute; left: -5000px;">
                                    <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
                                </div>

                                <div class="info"></div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </footer>
    <!-- End footer Area -->
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

  

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>


    <script src="~/js/Saas/js/vendor/jquery-2.2.4.min.js"></script>
    <script src="~/js/Saas/js/vendor/bootstrap.min.js"></script>
    <script src="~/js/Saas/js/easing.min.js"></script>
    <script src="~/js/Saas/js/hoverIntent.js"></script>
    <script src="~/js/Saas/js/superfish.min.js"></script>
    <script src="~/js/Saas/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/js/Saas/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/Saas/js/owl.carousel.min.js"></script>
    <script src="~/js/Saas/js/jquery.sticky.js"></script>
    <script src="~/js/Saas/js/jquery.nice-select.min.js"></script>
    <script src="~/js/Saas/js/parallax.min.js"></script>
    <script src="~/js/Saas/js/mail-script.js"></script>
    <script src="~/js/Saas/js/main.js"></script>



    <!-- Syncfusion Essential JS 2 ScriptManager -->
    <ejs-scripts></ejs-scripts>


</body>
</html>







