﻿@model Inventory.Web.Data.Entities.ZipCode

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>ZipCode</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Code" class="control-label"></label>
                <input asp-for="Code" class="form-control" id="codeValue" onchange = "javascript:getCities(this.value)" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <div class="form-group" id="idPais">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control getCity" id = "getCity" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Country" class="control-label"></label>
                <input asp-for="Country" class="form-control" />
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
            <div class="form-group" id="idOutroPais">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control getLocalidade" id = "getAnotherCity" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script type="text/javascript">

    window.onload = function () {
        $("#idPais").hide();
         $("#idOutroPais").hide();
       
    }

    function getCities(Code) {
        $.ajax({
            type: 'POST',
            url: "/ZipCodes/GetData",
            cache: false,
            data: { Code },
            success: function (data) {
                $('#getAnotherCity').val(data);

                  $("#idOutroPais").show();
                getAnotherCities(Code);
              
               
            },
            error: function () {
                var ErrorMessage = "please fill with your street name";
                $(".getLocalidade").html(ErrorMessage).show();
                $("#idOutroPais").show();
            }
            });

    }

    
    function getAnotherCities(Code) {
        $.ajax({
            type: 'POST',
            url: "/ZipCodes/GetAnotherData",
            cache: false,
            data: { Code },
            success: function (data) {
                $('#getCity').val(data);

                $("#idPais").show();
               
            },
            error: function () {
                var ErrorMessage = "please fill with your city name";
                $("#getCity").html(ErrorMessage).show();
                $("#idPais").show();
            }
            });

    }


</script>
